In [1]:
import pandas as pd
import numpy as np
import random
from sklearn import svm, utils

In [4]:
#Reading all the data and training model

clf = svm.SVC()

#positions
for i in range(1,6):
    for j in range(1,7):
        train = pd.read_csv(str('data/position' + str(i) + '/subject' + str(j) + '/train.csv'), header = None)
        test = pd.read_csv(str('data/position' + str(i) + '/subject' + str(j) + '/test.csv'), header = None)

        try:
            exec('train_p' + str(i) + '_s' + str(j) + ' = train')
            #Train the data 
            exec('train_p' + str(i) + '_s' + str(j) + '= utils.shuffle(train)')
            exec('clf.fit(train_p' + str(i) + '_s' + str(j) + '.iloc[:,1:], train_p' + str(i) + '_s' + str(j) + '.iloc[:,0])')        
            exec('test_p' + str(i) + '_s' + str(j) + ' = test')
        except IOError:
            print( "IOError occurred at ", i, j)

In [5]:
predicted = pd.DataFrame(clf.predict(test_p2_s2.iloc[:,1:]))

In [6]:
test_df = pd.concat([test_p2_s2, predicted], axis = 1)

In [11]:
test_df.iloc[1:,[0,13]]

      0  0
1     1  1
2     1  1
3     1  1
4     1  1
5     1  1
6     1  1
7     1  1
8     1  1
9     1  1
10    1  1
11    1  1
12    1  1
13    1  1
14    1  1
15    1  1
16    1  1
17    1  1
18    1  1
19    1  1
20    1  1
21    1  1
22    1  1
23    1  1
24    1  1
25    1  1
26    1  1
27    1  1
28    1  1
29    1  1
30    1  1
..   .. ..
282  10  1
283  10  1
284  10  1
285  10  1
286  10  1
287  10  1
288  10  1
289  10  1
290  10  1
291  10  1
292  10  1
293  10  1
294  10  1
295  10  1
296  10  1
297  10  1
298  10  1
299  10  1
300  10  1
301  10  1
302  10  1
303  10  1
304  10  1
305  10  1
306  10  1
307  10  1
308  10  1
309  10  1
310  10  1
311  10  1

[311 rows x 2 columns]